In [1]:
# synthetic minority oversampling technique

In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('car_evaluation.csv')
df.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [3]:
df.outcome.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [11]:
df.shape

(1728, 7)

In [4]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()

In [5]:
df.buying = le.fit_transform(df.buying)
df.maint = le.fit_transform(df.maint)
df.lug_boot = le.fit_transform(df.lug_boot)
df.safety = le.fit_transform(df.safety)

In [6]:
df.head()

   buying  maint  doors  persons  lug_boot  safety outcome
0       3      3      2        2         2       1   unacc
1       3      3      2        2         2       2   unacc
2       3      3      2        2         2       0   unacc
3       3      3      2        2         1       1   unacc
4       3      3      2        2         1       2   unacc

In [7]:
X = df.iloc[:,:-1]
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [8]:
y = df.outcome
y.head()

0    unacc
1    unacc
2    unacc
3    unacc
4    unacc
Name: outcome, dtype: object

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state = 47)

In [10]:
x_train.shape

(1209, 6)

In [12]:
x_test.shape

(519, 6)

In [13]:
y_train.value_counts()

unacc    848
acc      264
good      50
vgood     47
Name: outcome, dtype: int64

In [ ]:
# Balancing technique from here

In [14]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [15]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [19]:
y_pred = model.predict(x_test)

In [20]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [21]:
accuracy_score(y_test,y_pred)

0.8959537572254336

In [22]:
pd.crosstab(y_test,y_pred)

col_0    acc  good  unacc  vgood
outcome
acc      101     1     18      0
good      12     5      2      0
unacc     12     0    350      0
vgood      9     0      0      9

In [23]:
5/19

0.2631578947368421

In [24]:
9/18

0.5

In [26]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         acc       0.75      0.84      0.80       120
        good       0.83      0.26      0.40        19
       unacc       0.95      0.97      0.96       362
       vgood       1.00      0.50      0.67        18

    accuracy                           0.90       519
   macro avg       0.88      0.64      0.70       519
weighted avg       0.90      0.90      0.89       519

## Balancing Technique

In [27]:
from imblearn.over_sampling import SMOTE

In [29]:
smote = SMOTE()

In [31]:
x_train_smote,y_train_smote = smote.fit_resample(x_train,y_train)

In [32]:
y_train_smote.value_counts()

unacc    848
acc      848
good     848
vgood    848
Name: outcome, dtype: int64

In [33]:
y_train.value_counts()

unacc    848
acc      264
good      50
vgood     47
Name: outcome, dtype: int64

In [34]:
model1= KNeighborsClassifier()

In [35]:
model1.fit(x_train_smote,y_train_smote)

KNeighborsClassifier()

In [37]:
y_pred_smote = model1.predict(x_test)

In [38]:
accuracy_score(y_test,y_pred_smote)

0.7764932562620424

In [39]:
pd.crosstab(y_test,y_pred_smote)

col_0    acc  good  unacc  vgood
outcome
acc       86    25      6      3
good       1    16      0      2
unacc     61    10    288      3
vgood      4     1      0     13

In [40]:
print(classification_report(y_test,y_pred_smote))

              precision    recall  f1-score   support

         acc       0.57      0.72      0.63       120
        good       0.31      0.84      0.45        19
       unacc       0.98      0.80      0.88       362
       vgood       0.62      0.72      0.67        18

    accuracy                           0.78       519
   macro avg       0.62      0.77      0.66       519
weighted avg       0.85      0.78      0.80       519

In [1]:
13/18

0.7222222222222222