In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('iris.csv')
df.head()

,sepallength(cm),sepalwidth(cm),petallength(cm),petalwidth(cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [3]:
df.shape

(150, 5)

In [4]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [5]:
df.isnull().sum()

sepallength(cm)    0
sepalwidth(cm)     0
petallength(cm)    0
petalwidth(cm)     0
class              0
dtype: int64

In [7]:
df['sepallength(cm)'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [8]:
df.corr()

,sepallength(cm),sepalwidth(cm),petallength(cm),petalwidth(cm)
sepallength(cm),1.000000,-0.117570,0.871754,0.817941
sepalwidth(cm),-0.117570,1.000000,-0.428440,-0.366126
petallength(cm),0.871754,-0.428440,1.000000,0.962865
petalwidth(cm),0.817941,-0.366126,0.962865,1.000000

In [9]:
df.describe()

       sepallength(cm)  sepalwidth(cm)  petallength(cm)  petalwidth(cm)
count       150.000000      150.000000       150.000000      150.000000
mean          5.843333        3.057333         3.758000        1.199333
std           0.828066        0.435866         1.765298        0.762238
min           4.300000        2.000000         1.000000        0.100000
25%           5.100000        2.800000         1.600000        0.300000
50%           5.800000        3.000000         4.350000        1.300000
75%           6.400000        3.300000         5.100000        1.800000
max           7.900000        4.400000         6.900000        2.500000

In [10]:
# X and y  split
X=df.iloc[:,:-1]
X.head()

   sepallength(cm)  sepalwidth(cm)  petallength(cm)  petalwidth(cm)
0              5.1             3.5              1.4             0.2
1              4.9             3.0              1.4             0.2
2              4.7             3.2              1.3             0.2
3              4.6             3.1              1.5             0.2
4              5.0             3.6              1.4             0.2

In [12]:
y =df['class']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [13]:
# scaling
from sklearn.preprocessing import MinMaxScaler
scale =MinMaxScaler()

In [14]:
x_scaled = pd.DataFrame(scale.fit_transform(X),columns = X.columns)
x_scaled.head()

   sepallength(cm)  sepalwidth(cm)  petallength(cm)  petalwidth(cm)
0         0.222222        0.625000         0.067797        0.041667
1         0.166667        0.416667         0.067797        0.041667
2         0.111111        0.500000         0.050847        0.041667
3         0.083333        0.458333         0.084746        0.041667
4         0.194444        0.666667         0.067797        0.041667

In [45]:
#train test split

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size =0.3,random_state =0)

In [46]:
x_train.shape

(105, 4)

In [47]:
x_test.shape

(45, 4)

In [72]:
# Model building

from sklearn.neighbors import KNeighborsClassifier
model =KNeighborsClassifier()

In [73]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [74]:
y_pred = model.predict(x_test)

In [75]:
y_pred1 = model.predict(x_train)

In [76]:
# evaluating the model

from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [77]:
print('Test accuracy score: ',accuracy_score(y_test,y_pred))
print('Training accuracy score: ',accuracy_score(y_train,y_pred1))

Test accuracy score:  0.9777777777777777
Training accuracy score:  0.9619047619047619

In [78]:
pd.crosstab(y_test,y_pred)

col_0            Iris-setosa  Iris-versicolor  Iris-virginica
class
Iris-setosa               16                0               0
Iris-versicolor            0               17               1
Iris-virginica             0                0              11

In [79]:
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        16
Iris-versicolor       1.00      0.94      0.97        18
 Iris-virginica       0.92      1.00      0.96        11

       accuracy                           0.98        45
      macro avg       0.97      0.98      0.98        45
   weighted avg       0.98      0.98      0.98        45