In [102]:
# used to classify the data points
# naive baye's ,uses baye's theorem to classify the data points

In [103]:
import numpy as np
import pandas as pd

In [104]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [105]:
df.shape

(400, 5)

In [106]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [107]:
X = df.iloc[:,1:-1]
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [108]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [109]:
X.Gender = le.fit_transform(X.Gender)

In [110]:
X.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       0   26            43000
3       0   27            57000
4       1   19            76000

In [111]:
y = df.Purchased
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [112]:
y.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [113]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()

In [114]:
x_scaled = pd.DataFrame(scale.fit_transform(X),columns = X.columns)
x_scaled.head()

   Gender       Age  EstimatedSalary
0     1.0  0.023810         0.029630
1     1.0  0.404762         0.037037
2     0.0  0.190476         0.207407
3     0.0  0.214286         0.311111
4     1.0  0.023810         0.451852

In [115]:
# train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size = 0.20,random_state =0)

In [116]:
x_train.shape

(320, 3)

In [117]:
x_test.shape

(80, 3)

In [118]:
# model building

from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [119]:
model.fit(x_train,y_train)

GaussianNB()

In [120]:
y_pred = model.predict(x_test)

In [121]:
y_pred1 = model.predict(x_train)

In [122]:
# evaluating the model

from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [123]:
accuracy_score(y_train,y_pred1)

0.88125

In [124]:
accuracy_score(y_test,y_pred)

0.925

In [125]:
pd.crosstab(y_test,y_pred)

col_0       0   1
Purchased
0          56   2
1           4  18

In [126]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.97      0.95        58
           1       0.90      0.82      0.86        22

    accuracy                           0.93        80
   macro avg       0.92      0.89      0.90        80
weighted avg       0.92      0.93      0.92        80